#Wikipedia {
  /* Article Styling */
  -webkit-overflow-scrolling: touch;

  ul {
    position: relative;
    padding-right: 17.5%;
    padding-left: 17.5%;
    padding-top: 15%;
    width: 100%;
    margin: 0;
  }

  .ui.segment {
    position: relative;
    margin: auto;
    margin-bottom: 60px !important;
    background-color: #505257;
    color: white;
  }

  .ui.segment:hover {
    border-left: 6px solid #cfc517;
  }

  h2.ui.header {
    color: #dedede;
    font-size: 26px;
    overflow-wrap: break-word;
    width: 100%;
  }

  p {
    font-size: 16px;
    overflow-wrap: break-word;
    width: 100%;
  }

  /* Body and Search Bar styling */

  background-color: #747880 !important;
  overflow-x: hidden !important;
  height: 100vh;

  h1 {
    color: white;
    font-size: 24px;
    position: relative;
    bottom: 7px;
  }

  #random-search {
    font-size: 18px;
    position: relative;
    z-index: 10;
    top: 16px;
    color: white;
  }

  #random-search:hover {
    text-decoration: underline;
  }

  .ui.search {
    .prompt {
      width: 70%;
    }
  }

  #search-bar {
    padding-top: 40vh;
    text-align: center;
    input {
      width: 300px;
    }
  }

  .prompt {
    text-align: center;
  }

  /**/

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 20px;
    }
  }
}
