/* MODAL STYLES */

.header {
  font-size: 36px !important;
}

.ui.dimmer {
  background-color: #fbe8a6;
}

div.ui.standard.modal.visible.active {
  height: 500px;
  overflow: scroll;
  border: 4px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

/* FORM STYLES */

.custom-field-array-container {
  list-style: none;
  padding-top: 30px;
}

form {
  width: 100%;
}

span {
  color: #c70000;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

label {
  display: none;
}

/* title form styles */

#title-form {
  display: flex;
  padding-left: 40px;
  margin-bottom: -50px;
}

#title-form > input {
  font-size: 30px;
  max-width: 70%;
}

/* ingredient form styles  */

.ingredient-form-value {
  display: flex;
  padding-top: 20px;
  max-height: 64px;
}

i.fas.fa-trash-alt {
  color: white;
  padding: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

li > i.fas.fa-trash-alt {
  background-color: rgba(255, 0, 0, 0.75);
}

li > i {
  order: 1;
}

li > input {
  order: 2;
  font-size: 24px;
  width: 65%;
}

li > span {
  order: 3;
}

/* direction form styles */

textarea {
  font-size: 18px;
  max-height: 140px;
  min-height: 60px;
  height: 80px;
  width: 70%;
  resize: vertical;
}

.direction-form-value {
  display: grid;
  grid-template-rows: auto 55px;
  grid-template-columns: auto;
  padding-top: 70px;
  width: 100%;
}

#direction-delete-button {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.75);
  border-radius: 10px;
  width: 130px;
  transform: scale(0.7);
  grid-column: 1;
  grid-row: 2;
}

#direction-delete-button > span {
  color: white;
  padding-left: 0px;
}

.direction-form-value > span {
  grid-column: 1;
  grid-row: 2;
  padding-left: 140px;
}

hr {
  position: relative;
  top: 30px;
  width: 95%;
  opacity: 70%;
}

/* button styles  */

.add-buttons {
  display: flex;
  padding-top: 25px;
}

.add-buttons > li > button {
  font-size: 24px;
}

li.error {
  display: none;
}

#form-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

/* MEDIA QUERIES */
@media (max-width: 576px) {

  span {
    font-size: 18px;
  }

  #direction-delete-button > span {
    font-size: 20px;
  }
}
