#landing {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80");
  background-color: white;
  height: 100vh;

  div {
    position: relative;
    top: 44vh;
  }

  h1 {
    color: white;
    background-color: rgb(108, 117, 125);
    text-align: center;
    margin: 0;
    padding: 32.5px 0px 32.5px 0px;
    font-weight: bold;
  }

  a {
    text-decoration: none !important;
  }

  button {
    border-radius: 0% !important;
  }

  button:focus {
    box-shadow: none !important;
  }
}
