.main {
  -webkit-overflow-scrolling: touch;

  background-color: white;
  height: 100vh;
  overflow-x: hidden;

  h1 {
    padding-top: 25px;
  }

  img {
    max-height: 670px;
    max-width: 470px;
    padding: 25px 0px 25px 0px;
  }

  p {
    text-indent: 30px;
  }

  hr {
    margin-top: 50px;
    width: 86%;
  }

  i {
    color: white;
  }

  #edit-and-delete {
    padding: 20px 0px 30px 0px;
  }
  #description-input {
    height: 18vh;
  }

  #new-book {
    width: 100%;
    border-radius: 0;
    text-align: center;
    font-size: 32px;
  }
}

/**/

@media screen and (max-width: 500px) {
  img {
    transform: scale(0.7);
    margin: -60px 0px -60px 0px;
  }
}
