body {
  overflow-x: hidden;
}

h1 {
    padding-top: 25px;
}

img {
    max-height: 670px;
    max-width: 470px;
    padding: 25px 0px 25px 0px;
}

p {
    text-indent: 30px;
}

hr {
    margin-top: 50px;
    width: 86%;
}

#edit-and-delete {
    padding: 10px 0px 30px 0px;
}
 #description-input {
     height: 18vh;
 }