@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #283d3b;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

$secondary-color: #c44536;

.red-button {
  color: white;
  background-color: $secondary-color;
  border-color: $secondary-color;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: $secondary-color;
    opacity: 90%;
  }
}

img {
  width: 45px;
  height: 45px;
}

// .particles {
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }

// 283D3B
// 772E25
// 197278
// EDDDD4
// C44536
