@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #283d3b;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

$secondary-color : #C44536;

.btn-info {
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  &:active {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
  &:focus {
    box-shadow: none;
    outline-color: $secondary-color;
  }
}

// .particles {
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }

// 283D3B
// 772E25
// 197278
// EDDDD4
// C44536
