@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: #283d3b;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  @include centerContent();
}

// .particles {
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }

// 283D3B
// 772E25
// 197278
// EDDDD4
// C44536
